/* Fundo estelar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../img/stars.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container estilo vidro */
.container {
    background: rgba(254, 250, 250, 0.08);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 18px;
    width: 380px;
    box-shadow: 0 0 15px rgba(11, 1, 95, 0.911);
    color: #afc5f2;
    text-align: center;
}

/* Título */
h2 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #fffefa;
}

/* Labels */
label {
    color: #ddd;
    display: block;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
}

/* Inputs e selects */
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(251, 247, 247, 0.4);
    color: white;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

input:focus,
select:focus {
    border-color: #6c5cff;
    box-shadow: 0 0 8px rgba(108, 92, 255, 0.7);
}

/* Botão cadastrar (usa sua classe global) */
.btn-primary {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #6c5cff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #5848d3;
}

/* Botões inferiores */
.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-secondary {
    padding: 12px 20px;
    background: transparent;
    border: 1px solid #6c5cff;
    color: #6c5cff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: rgba(108,92,255,0.2);
}

/* Mensagem */
#mensagem {
    margin-top: 20px;
    color: #ffd44d;
    font-size: 14px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../img/img.jpg") no-repeat center center fixed;
    background-size: cover;
}
.top-header {
    text-align: left;
    padding: 20px 0;
}
